.chat {
  width: 500px;
}
.message {
  display: flex;
  flex-direction: column;
}
.messageBot {
  align-items: flex-end;
}
.messageAuthor {
  align-items: flex-start;
}
.messageAuthor span {
  overflow-wrap: break-word;
}
