.message {
  display: flex;
}
.messageBot {
  align-self: flex-end;
}
.messageAuthor {
  align-self: flex-start;
}
.messageAuthor span {
  overflow-wrap: break-word;
}
.message .boxMessage {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  background-color: cadetblue;
  border-radius: 25px;
  margin: 10px;
}