body{
    margin: 0 auto;
    background-color: #f0f0f0;
}

.header{
    padding: 1rem 2rem;
    height: 50px;
    display: flex;
    background-color: #3fb75b;
    align-items: center;
}

.header__title{
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

.main{
    padding: 1rem 2rem;
    display: flex;
}

.chat-container{
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
}

.chats-list{
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 30%;
    padding: 1rem 2rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.input{
    flex-grow: 1;
    outline: none;
    margin: 0 1rem 0 0;
    padding: .5rem 1rem;
    border: 1px solid burlywood;
    transition: border-radius .3s ease-in-out,
                border .3s ease-in-out;
}

.input:focus{
    border-radius: 5px;
    border: 1px solid blueviolet
}

.chat-list{
    display: flex;
    height: 70vh;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 0 1rem 0;
}

.chat-actions{
    display: flex;
}

.chat-action__button{
    background: transparent;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid blueviolet;
    border-radius: 5px;
    transition: background-color .3s ease-in-out,
                color .3s ease-in-out,
                opacity .3s ease-in-out;
}

.chat-action__button:hover{
    background-color: blueviolet;
    color:#fff;
}

.chat-action__button:active{
    opacity: .67;
}

.message{
    display: flex;
    margin: 0 0 1rem 0;
}

.message__text{
    display: flex;
    padding: 1rem 2rem;
    border-radius: 25px;
    background-color: burlywood;
}